body{
    margin:0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 30px 90px;
    align-items:center;
}
ul{
    display: flex;
    list-style: none;
    gap: 3rem;
}
span{
    color: rgb(74, 180, 180);
}
a{
    text-decoration:none;
    color:inherit;
}
.un{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items:center;
    padding: 40px 70px;
}
div{
    font-size: 40px;
    text-align: center;
   
}
button{
    background-color:rgb(74, 180, 180);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 10px;
}
.deux{
    background-color: rgb(243, 240, 237);
    padding: 40px 80px;
}
.propos{
     display: flex;
     justify-content: center;
     gap: 25rem;
     align-items:end;
}
div2{
    font-size: 22px;
    text-align: left;
}
.titre1{
    margin-bottom: 70px;
    text-align:center;
    font-size: 24px;
}
.photo{
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(74, 180, 180) ;
}
.trois{
   text-align: center;
    padding: 50px 60px;
}
.titre2{
    margin-bottom: 20px;
    font-size: 24px;
     text-align:center;
}
.cartes{
    display: flex;
    gap: 3rem;
    padding: 50px 30px;
}
.carte{
    background-color:rgb(243, 240, 237);
    border-radius: 5%;
    font-size: 20px;
    padding: 50px 60px;
}
.quatre{
    background-color:rgb(243, 240, 237);
    padding: 40px 60px;
}
.skills{
     display: flex;
    gap: 3rem;
}
.titre3{
     margin-bottom: 70px;
    font-size: 24px;
     text-align:center;
}
.barre{
    border-radius: 3%;
    margin-bottom: 70px;
}
.cinq{
    background-color: black;
    padding: 10px 60px;
    color: white;
    text-align: center;
    padding: 1px;
}
.entete{
    margin-top: 0;
    margin-bottom: 0;
}
.titre4{
    font-size: 50px;
}
form {
  max-width: 600px;
  margin: auto;
  margin-top:0;
  background: black;
  padding: 30px;
  border-radius: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}
.accent {
  color: #00e6c0;
}
.popo{
     display: flex;
    gap: 3rem;
}
footer{
     display: flex;
    padding: 20px 90px;
     justify-content: space-between;
      text-align:center;
}